---
layout: default
---
    <header>
        <div class="header-content" id="page-top">
            <div class="header-content-inner">
                <h1 id="homeHeading">Bienvenue sur mon site !</h1>
                <hr>
                <p>Je suis un élève ingénieur en informatique en 5ème année, spécialité Gestion de Contenu Numérique à Polytech Nantes et je recherche actuellement un stage de fin d'étude à partir de 5 mois.</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">En savoir plus !</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">A propos</h2>
                    <hr class="light">
                    <p class="text-faded">Je m'appelle Alban Lorillard, j'ai 23 ans et je suis élève ingénieur en 4ème année d'informatique à <a href="http://web.polytech.univ-nantes.fr/" target="_BLANK" style="color:#FFF">Polytech Nantes</a>, l'école d'ingénieur de l'université de Nantes.</p>
                    <p class="text-faded">Passionné d'informatique, j'ai appris à l'age de 12 ans à concevoir mes premiers sites internet par l'apprentissage autodidacte d'HTML/CSS/PHP/MySQL. Aujourd'hui, mon apprentissage web se concentre sur les applications fullstack JS.</p>
                    <p class="text-faded">Je suis plutôt de caractère calme, et persévérant face aux technologies que je ne connais pas. De même, je suis toujours partant pour travailler en équipe et avoir des objectifs.</p>
                    <p class="text-faded">Ma formation scientifique et informatique me permet d'avoir un raisonnement algorithmique face aux défis de l'informatique.</p>
                    <a href="#competences" class="page-scroll btn btn-default btn-xl sr-button">En savoir d'avantage sur mes compétences</a>
                </div>
            </div>
        </div>
    </section>

    <section id="competences">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Mes compétences</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-code text-primary sr-icons"></i>
                        <h3>Developpement web</h3>
                        <p class="text-muted">Du statique au dynamique, de php à javascript, de Apache à nodeJS, du front au back-end</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-flask text-primary sr-icons"></i>
                        <h3>Developpement logiciel</h3>
                        <p class="text-muted">Du C au C++, du Java au Python, de R à C#</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-wrench text-primary sr-icons"></i>
                        <h3>Outils & gestion de projet</h3>
                        <p class="text-muted">Utilisation d'outils professionnels : Git, Gerrit, Redmine, Webstorm, Eclipse, Visual Studio... <br/> Projet Agile en Scrum </p>
                    </div>
                </div>
            </div>
            <div class="row col-lg-8 col-lg-offset-2 text-center">
                    <a href="#project" class="btn btn-primary btn-xl page-scroll sr-button">Voir mes projets</a>
            </div>
        </div>
    </section>

    <section class="no-padding bg-dark" id="project">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">

                <!--{% increment j %}-->
                {% for project in site.projects reversed%}

                {% if j > 6 %}
                    {% break %}
                {% endif %}

                <div class="col-lg-4 col-sm-6">
                    <a href="/projets" class="portfolio-box">
                        <img src="{{site.url}}/img/portfolio/thumbnails/{{project.thumbnails}}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    {{ project.categorie }}
                                </div>
                                <div class="project-name">
                                    {{ project.titre }}
                                </div>
                                <div class="project-desc">
                                    {{ project.intro }}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!--{% increment j %}-->
                {% endfor %}

            </div>
                <div class="container text-center projectBtn">
                    <div class="call-to-action">
                        <a href="/projets" class="btn btn-default btn-xl sr-button btnLeft">Tous mes projets</a>
                        <a href="#contact" class="btn btn-default btn-xl page-scroll sr-button btnRight">Me contacter</a>
                    </div>
                </div>
        </div>

    </section>