---
layout: home
---
<div>
    {% include header.html %}

    <div>
        <h2>A propos</h2>
        <p>Je m'appelle Alban, j'ai 23 ans et je suis un étudiant ingénieur français en 4ème année d'informatique à l'école Polytech Nantes. Je suis particulièrement intéressé par les technlogies web et j'ai commencé à m'y intéressé assez jeune.</p>
        <p>J'ai comme ambition professionnelle de travailler sur des projets web multimédia et innovant.</p>
        <p>Pour l'été 2017, je recherche activement un stage à l'étranger.</p>
    </div>

    <div>
        <h2>Compétences</h2>
        <h3>Développement Web</h3>
        <h3>Développement Logiciel</h3>
        <h3>Outils</h3>
        <h3>Compétences Scientifiques</h3>
    </div>

    <div>
        <h2>Réalisations</h2>

    </div>

    {% include footer.html %}
</div>
