extends layout

block append content
    div(id="mainSector")
        p(id="randomQuote")

    div(id="sector2")
        div(class="leftbox box")
            h2 A propos
            p Blablablablabla
        div(class="rightbox box")
            h2 Articles
        div(class="leftbox box")
            h2 Statistiques
        div



